<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Message Board</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  </head>
  <body>
    <a href="/new">Post new message</a>
    <main>
      <% messages.forEach((message) => { %>
        <div>
          <h2><%= message.user%></h2>
          <p><%= message.text%></p>
          <p><%= message.added%></p>
        </div>
      <% }); %>
    </main>
  </body>
</html>

